.thumb {
  background: none repeat scroll 0 0 transparent;
  padding: 0px;
}

.thumb img {
  height: 130px;/* Refers to thumbData size - 20 because of margins etc. */
  /* width: 150px; */
  /* width: 100%; */
}

.thumbWrap {
  border: 1px solid black;
  float: left;
  margin: 0;
  padding: 5px;
  font: 11px Helvetica, elvetica;
}

.thumbWrap span {
  display: block;
  overflow: hidden;
  text-align: center;
}

.over {
  background: repeat-x scroll left top #343434;
  border: 0 solid #ddd !important;
  padding: 5px;
  cursor: pointer;
}

.select {
  background: none repeat scroll 0 50% #565656;
  /* border: 1px dotted #ABABAB !important; */
  border: 1px solid #565656 !important;
  cursor: pointer;
}

.select .thumb {
  background: none repeat scroll 0 0 transparent;
}
