/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.globalStyle {
	background: #000000 repeat scroll 0 0;
}
.globalStyle2 {
	background: #000000 repeat scroll 0 0;
	width: 100%;
	height: 100%;
}

.overflowAuto {
	overflow: auto;
}

.buttonViewer {
	/*width: 100%;*/
	background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
	width: 50px;
	border: 0 none;
	/*border-radius: 15%;*/
	cursor: pointer;
	margin-top: 0px;
}

.buttonViewer:HOVER {
	background: none repeat scroll 0 0 #222222;
}

.buttonViewer[disabled] {
	color: #666666;
}

.buttonViewer[disabled]:HOVER {
	background: none repeat scroll 0 0 #111111;
}

.labelViewer {
	text-align: center;
	color: white;
	bottom: 25% !important;
	top: 25% !important;
}
