@external x-toolbar-mark;

.toolBar { 
  width: auto;
  height: auto;
  /* border: none; */
  border: thin;
}

.x-toolbar-mark {
  border-width: 0 0 1px 0;
  /* border-bottom: 0px solid #99b9e9; */
  border-bottom: 0px solid #DDDDDD;
}

@sprite .x-toolbar-mark {
  gwt-image: 'blackBackground';
  /* background-color: #D0DEF0; */
  /* background-color: #292929; */
  background-color: #000000;
  height: auto;
  
  font-family: helvetica,elvetica;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  line-height: 15px;
  color: #DDDDDD;
}
