@sprite .header {
  /*color: #FFFFFF;*/
  /* gwt-image: "headerBackground"; */
  gwt-image: "darkHeaderBackground";
  height: auto;
  color: #DDDDDD;
  border: 1px solid #000000;
  /* color:#eeeef0;
  border:1px solid #000000; */
}

/* See com/sencha/gxt/theme/base/client/widget/Header.css referenced in DarkHeaderAppearance.java to know which css attribute override */
.headerText {
  /* font-family: tahoma, arial, verdana, sans-serif; */
  font-family: helvetica,elvetica;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  line-height: 15px;
}

.headerIcon {
	
}
